<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="header">
    <div class="pageheader">
        <h2>Grant Management System</h2>
    </div>
    <div class="menuNavbar">
        <div class="userInfo">
            <span>user: </span>
            <span class="userName" th:text="${userName}"> name </span>
            <span> </span>
            <a th:href="@{/logout}">sign out</a>
        </div>
    </div>
    <div class="distancer-top"></div>
</div>

<div th:fragment="footer">
    <div class="distancer-bottom"></div>
    <div class="copyright">
        <p>Copyright: Łukasz Urbanek</p>
    </div>
</div>

</body>
</html>