<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dictionary.css}" type="text/css">
    <title>Indicator Dictionary</title>
</head>
<body>
<div th:include="/fragments/institutional :: header"></div>

<div class="mainDiv">
    <h2>Indicator dictionary</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr th:each="indicator : ${indicators}">
            <td th:text="${indicator.id}"> id</td>
            <td th:text="${indicator.name}"> name</td>
            <td th:text="${indicator.description}"> description</td>
            <td th:text="${indicator.getIndicatorType().display()}"> type </td>
            <td><a th:href="@{/dictionaries/indicators/delete(id=${indicator.id})}">Delete</a></td>
            <td><a th:href="@{/dictionaries/indicators/edit(id=${indicator.id})}">Edit</a></td>
        </tr>
    </table>
    <div class="leftFloat">
        <p><a th:href="@{/}">Back to main page</a></p>
        <p><a th:href="@{/dictionaries/indicators/add}">Add indicator</a></p>
    </div>
</div>

<div th:include="/fragments/institutional :: footer"></div>
</body>
</html>