<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dictionary.css}" type="text/css">
    <title>Edit Element in Consent Dictionary</title>
</head>
<body>
<div th:include="fragments/institutional :: header"></div>

<div class="mainDiv">
    <h2>Edit existing consent</h2>
    <form th:action="@{/dictionaries/consent/edit}" method="post" th:object="${consentText}">
        <label>
            <textarea cols="100" rows="10" th:field="*{declarationText}"></textarea>
        </label><br>
        <label>
            <input th:field="*{id}" hidden>
        </label>
        <button type="submit" class="button">Edit</button>
        <a th:href="@{/dictionaries/consent/show}">
            <button type="button" class="button">Cancel</button>
        </a>
    </form>
</div>

<div th:include="fragments/institutional :: footer"></div>
</body>
</html>