<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link name="f" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link name="f" rel="stylesheet" th:href="@{/css/animations.css}" type="text/css">
    <title>Grant Management System</title>
</head>
<body>
<div th:include="fragments/institutional :: header"/>
<div class="indexMainContainer">
    <div class="indexBox usersBox">
        <h3>Users</h3>
        <a th:href="@{/user/show}">Show users</a>
        <br>
        <a th:href="@{/register}">Add user</a>
    </div>
    <div class="indexBox consentsBox">
        <h3>Consents</h3>
        <a th:href="@{/dictionaries/consent/show}">Show consent dictionary</a>
        <br>
        <a th:href="@{/dictionaries/consent/add}">Add element to consent dictionary</a>
    </div>
    <div class="indexBox indicatorsBox">
        <h3>Indicators</h3>
        <a th:href="@{/dictionaries/indicators/show}">Show indicator dictionary</a>
        <br>
        <a th:href="@{/dictionaries/indicators/add}">Add element to indicator dictionary</a>
    </div>
    <div class="indexBox callsBox">
        <h3>Calls</h3>
        <a th:href="@{/call/show}">Show calls</a>
        <br>
        <a th:href="@{/call/add}">Add call</a>
    </div>
    <div class="indexBox navigationBox">
        <h3>Navigation</h3>
        <a th:href="@{/menu}">User menu</a>
        <br>
        <a th:href="@{/logout}">Logout</a>
    </div>
</div>
<div th:include="fragments/institutional :: footer"></div>
</body>
</html>