<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link name="f" rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Grant Management System</title>
</head>
<body>
<div th:include="/fragments/institutional :: header" class="pageheader"/>
<a th:href="@{/logout}">Logout</a>
<br>
<a th:href="@{/register}">Add user</a>
<br>
<a th:href="@{/user/show}">Show users</a>
<br>
<br>
<a th:href="@{/dictionaries/consent/show}">Show consent dictionary</a>
<br>
<a th:href="@{/dictionaries/consent/add}">Add element to consent dictionary</a>
<br>
<br>
<a th:href="@{/dictionaries/indicators/show}">Show indicator dictionary</a>
<br>
<a th:href="@{/dictionaries/indicators/add}">Add element to indicator dictionary</a>

<div th:include="/fragments/institutional :: footer" class="copyright"></div>
</body>
</html>