<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <link name="f" rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link name="f" rel="stylesheet" th:href="@{/css/animations.css}" type="text/css">
</head>
<body>
<div class="pageheader"><h2>Grant Management System</h2></div>
<div class="shaderFirst"></div>
<div class="shaderSecond"></div>
<div class="shaderThird"></div>
<div class="demoInfo">
    <p class="blue">For demo purposes please login as:</p>
    <p>
        <span class="blue">Role admin</span><br>
        login: <span class="highlight">admin</span><br>
        password: <span class="highlight">aaa</span>
    </p>
    <p>
        <span class="blue">Role user</span><br>
        login: <span class="highlight">user</span><br>
        password: <span class="highlight">aaa</span>
    </p>
</div>
<div class="loginBox">
    <h2>Welcome</h2>
    <form th:action="@{/login}" method="post" >
        <div class="inputbox">
            <input type="text" name="username" class="input" required autocomplete="off">
            <label>login</label>
        </div>
        <div class="inputbox">
            <input type="password" name="password" class="input" required autocomplete="off">
            <label>password</label>
            <div th:if="${param.error}" class="alert">
                Invalid username or password
            </div>
            <div th:if="${param.logout}" class="alert">
                You have been logged out
            </div>
            <input type="submit" value="Sign in" class="submit">
            <a th:href="@{/register}" class="signup">Sign up</a>
        </div>
    </form>
</div>
<div class="copyright">Copyright: Łukasz Urbanek</div>
</body>
</html>