<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/user.css}" type="text/css">
</head>
<body>
<div th:include="/fragments/institutional :: header" class="pageheader"/>

<div class="boxDiv">
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div class="inputDiv">
            <label>User name<br>
                <input th:field="*{name}" required="true"/>
                <p th:each="error : ${#fields.errors('name')}" th:text="${error}" class="error2"></p>
            </label>
        </div>
        <div th:if="${message != null}" th:text="${message}" class="error">Error message</div>
        <div class="inputDiv">
            <label>Password<br>
                <input type="password" th:field="*{password}" required="true"/>
            </label>
        </div>
        <div class="centringDiv">
            <button type="submit" class="button">Sign up</button>
            <a th:href="@{/}">
                <button type="button" class="button">Cancel</button>
            </a>
        </div>
    </form>
</div>
<div th:include="/fragments/institutional :: footer" class="copyright"></div>
</body>
</html>