<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="consents">
    <div>
        <h2>8. Consents</h2>
        <br>
        <div th:each="consent, stat : *{consents}" class="consent">
            <p>
                <span th:text="*{consents[__${stat.index}__].consentText.declarationText}"> text </span>
                <input type="text" th:field="*{consents[__${stat.index}__].consentText}" hidden>
                <input type="text" th:field="*{consents[__${stat.index}__].id}" hidden>
                <br>
                <label th:each="option : ${consentOptions}">
                    <input type="radio"
                           th:field="*{consents[__${stat.index}__].consentOption}"
                           th:value="${option}" th:text="${option.display()}"/>
                </label>
            </p>
        </div>
    </div>
</div>

</body>
</html>