<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="indicators">

    <h2>5. Incdicators</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Value</th>
            <th>Year of expected achievment</th>
        </tr>
        <label th:for="*{indicators}">
            <tr th:each="projectIndicator, stat : ${project.indicators}">
                <td th:text="${projectIndicator.id}"></td>
                <td th:text="${projectIndicator.indicator.name}"></td>
                <td th:text="${projectIndicator.indicator.description}"></td>
                <td th:text="${projectIndicator.indicator.indicatorType.display()}"></td>
                <label th:for="${projectIndicator}">
                    <td>
                        <input type="number" th:field="*{indicators[__${stat.index}__].value}"/>
                        <input type="number" th:field="*{indicators[__${stat.index}__].id}" hidden/>
                        <input type="number" th:field="*{indicators[__${stat.index}__].indicator.id}" hidden/>
                    </td>
                    <td>
                        <input type="number" th:field="*{indicators[__${stat.index}__].plannedAchievement}"/>
                    </td>
                </label>

            </tr>
        </label>

    </table>


</div>
</body>
</html>