<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="sustainability">
    <h2>2. Sustainability of project outcomes</h2>
    <label>
        <h3>2.1. Project sustainability</h3>
        <textarea th:field="*{projectDetails.sustainability}" cols="100" rows="5"></textarea>

    </label>
    <label>
        <h3>2.2. Operational capacity of involved parties</h3>
        <textarea th:field="*{projectDetails.oparationalCapacity}" cols="100" rows="5"></textarea>
    </label>
    <label>
        <h3>2.3. Financial capacity</h3>
        <textarea th:field="*{projectDetails.financialCapacity}" cols="100" rows="5"></textarea>
    </label>

</div>
</body>
</html>