<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="timetable" id="timetable">
    <h3>6 Timetable</h3>
    <input type="number" th:field="*{timetable.id}" hidden/>

    <div th:each="task, stat : *{timetable.tasks}" class="taskDiv" th:data-local_id="${task.id}" >
        <h3>Task no <span th:text="${stat.count}"></span></h3>
        <input class="taskId" type="number" th:field="*{timetable.tasks[__${stat.index}__].id}" hidden>
        <button class="button removeTaskButton">Remove</button>
        <p>Task name</p>
        <label>
            <input class="taskName" type="text" th:field="*{timetable.tasks[__${stat.index}__].name}">
        </label>
        <p>Task description</p>
        <label>
                            <textarea th:field="*{timetable.tasks[__${stat.index}__].description}"
                                      th:text="*{timetable.tasks[__${stat.index}__].description}" cols="100"
                                      rows="4"></textarea>
        </label>
        <p>Start date</p>
        <label>
            <input class="dateInput taskStart" type="date"
                   th:field="*{timetable.tasks[__${stat.index}__].taskStart}">

            <p>End date</p>

            <input class="dateInput taskEnd" type="date"
                   th:field="*{timetable.tasks[__${stat.index}__].taskEnd}">
        </label>
    </div>

    <div th:fragment="partners" id="addTaskButton">
        <button class="button">Add task</button>
    </div>


</div>


</body>
</html>