table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table tr:first-of-type {
    background-color: #9c9999;
}

table tr th {
    border-left: none;
    border-right: none;
    padding: 5px 10px;
    color: whitesmoke;
}

table tr td {
    border-left: none;
    border-right: none;
    padding: 5px 10px;
    border-bottom: solid lightgray 1px;
}

table a, .leftFloat a {
    text-decoration: none;
    color: #2a4f8d;
}

table a:hover, .leftFloat a:hover, .userInfo a:hover {
    color: #53a7c9;
}

.mainDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fffff8;
    z-index: 100;
}

.callsDiv, .projectsDiv {
    width: 100%;
    padding: 20px 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: inherit;
}

.callsDiv {
    margin-bottom: 20px;
}

.button {
    background-color: #1cbb00;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #2ccc00;
}

.leftFloat {
    text-align: left;
    width: 100%;
    padding-top: 10px;
}

.error {
    color: red;
    font-size: 14px;
    margin-left: 10px;
}

.callsDiv textarea {
    color: black;
    background-color: inherit;
    border: lightgray solid 1px;
    font-size: 16px;
    font-family: sans-serif;
}

.bold {
    font-weight: bold;
}

td:last-child, th:last-child{
    text-align: center;
}

