body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-size: cover;
    background-color: #eeecec;
    box-sizing: border-box;
}

.copyright {
    padding: 5px;
    background-color: #0099ee;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-top: lightgray solid 1px;
    color: ivory;
}

.distancer-top {
    height: 90px;
}

.distancer-bottom {
    height: 50px;
}
.pageheader {
    padding: 20px;
    background-color: #0088dd;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: fixed;
    top: 0;
    height: 70px;
    color: ivory;
}

.userInfo {
    position: fixed;
    top: 70px;
    right: 10px;
    background-color: #004499   ;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    z-index: 101;
}

.userInfo span, .userInfo a {
    color: #adaaaa;
    text-decoration: none;
}

.userInfo .userName {
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.menuNavbar {
    background-color: dimgrey;
    color: whitesmoke;
    height: 30px;
    position: fixed;
    top: 70px;
    width: 100%;
}

.indexMainContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    padding: 100px 300px;
    z-index: 0;
}

.indexBox {
    margin: 30px 10px;
    padding: 30px;
    background-color: whitesmoke;
    border: lightgray solid 5px;
    box-shadow: 0px 10px 20px black;
    width: 300px;
    box-sizing: border-box;
    border-radius: 20px;
    transition: .2s;
}

.indexBox a {
    text-decoration: none;
    color: dimgray;
}

.indexBox a:hover {
    color: deepskyblue;
}

.indexBox:hover {
    border-color: #20e020;
    box-shadow: 0px 15px 30px black;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.boxDiv {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border: solid lightgray 1px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fffff8;
    box-shadow: 0 10px 20px gray;
}
