<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/project.css}" type="text/css">
    <title>New project</title>
</head>
<body>
<div th:include="/fragments/userMenuFragments :: header" class="pageheader"/>
<div class="container">
    <div class="leftMenu">
        <div class="leftMenuItem active">General information</div>
        <div class="leftMenuItem">Applicant</div>
        <div class="leftMenuItem">Sustainability</div>
        <div class="leftMenuItem">Indicators</div>
        <div class="leftMenuItem">Timetable</div>
        <div class="leftMenuItem">Financial information</div>
        <div class="leftMenuItem">Consents</div>
        <div class="leftMenuItemWithButton">
            <p>
                <button class="button">Edit</button>
            </p>
            <p>
                <button class="button">Submit</button>
            </p>
            <p>
                <a th:href="@{/menu}">
                    <button class="button">Back</button>
                </a>
            </p>
        </div>

    </div>
    <div class="mainView">
        <div class="mainInside">

        </div>
    </div>
</div>

<div th:include="/fragments/institutional :: footer" class="copyright"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/projectViewJS.js}"></script>
</body>
</html>