<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/menu.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/project.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/budget.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>New project</title>
</head>
<body>
<div th:include="/fragments/userMenuFragments :: header"/>

<div class="container">

    <div class="leftMenu">
        <div class="leftMenuItem active" data-section="general">General information</div>
        <div class="leftMenuItem" data-section="applicant">Applicant</div>
        <div class="leftMenuItem" data-section="partners">Partners</div>
        <div class="leftMenuItem" data-section="sustainability">Sustainability</div>
        <div class="leftMenuItem" data-section="inidcators">Indicators</div>
        <div class="leftMenuItem" data-section="timetable">Timetable</div>
        <div class="leftMenuItem" data-section="budget">Financial information</div>
        <div class="leftMenuItem" data-section="consents">Consents</div>
        <div class="leftMenuItemWithButton">
            <p>
                <button class="button" type="submit" form="projectForm">Save</button>
            </p>
            <p>
                <a th:href="@{/menu}">
                    <button class="button">Back</button>
                </a>
            </p>
        </div>

    </div>
    <div class="mainView">
        <div class="mainInside">
            <form th:action="@{/project/save}" method="post" th:object="${project}" id="projectForm">
                <div th:include="/fragments/sections/general :: general" class="section" id="general"></div>
                <div th:include="/fragments/sections/applicant :: applicant" class="section hidden"
                     id="applicant"></div>
                <div th:include="/fragments/sections/partners :: partners" class="section hidden" id="partners"></div>
                <div th:include="/fragments/sections/sustainability :: sustainability" class="section hidden"
                     id="sustainability"></div>
                <div th:include="/fragments/sections/indicators :: indicators" class="section hidden"
                     id="inidcators"></div>
                <div th:include="/fragments/sections/timetable :: timetable" class="section hidden"
                     id="timetable"></div>


                <div class="section hidden" id="budget">
                    <div id="budgetTableDiv">
                        <table id="budgetTable" th:if="*{timetable.getTasks().size()!=0}">
                            <tr>
                                <th>No.</th>
                                <th>Task name</th>
                                <th>Value</th>
                                <th th:each="year : ${yearsOfProject}" th:text="${year}">year</th>
                            </tr>
                            <tr class="budgetTask" th:each="task, taskStat : *{timetable.getTasks()}">
                                <input type="number" class="budgetTaskId" th:field="*{timetable.getTasks[__${taskStat.index}__].id}" hidden/>
                                <input type="number" class="budgetTaskStart" th:field="*{timetable.getTasks[__${taskStat.index}__].taskStart}" hidden/>
                                <input type="number" class="budgetTaskEnd" th:field="*{timetable.getTasks[__${taskStat.index}__].taskEnd}" hidden/>
                                <td th:text="${taskStat.count}">number</td>
                                <td th:text="${task.name}">task name</td>
                                <input type="text" class="budgetTaskName" th:field="*{timetable.getTasks[__${taskStat.index}__].name}" hidden/>
                                <td>
                                    <div class="budgetEntry valueNames">
                                        <div>Total amount</div>
                                        <div>Grant</div>
                                        <div>Coverage</div>
                                        <div>Self funding</div>
                                    </div>
                                </td>
                                <td th:each="entry, entryStat : ${task.budgetEntryList}">
                                    <div class="budgetEntry">
                                        <input type="number" class="entryId"
                                               th:field="*{timetable.getTasks[__${taskStat.index}__].budgetEntryList[__${entryStat.index}__].id}"
                                               hidden/>
                                        <input type="number" class="entryYear"
                                               th:field="*{timetable.getTasks[__${taskStat.index}__].budgetEntryList[__${entryStat.index}__].year}"
                                               hidden/>
                                        <div><input type="number" class="entryTotal"
                                                    th:field="*{timetable.getTasks[__${taskStat.index}__].budgetEntryList[__${entryStat.index}__].totalAmount}"/>
                                        </div>
                                        <div><input type="number" class="entryFunding"
                                                    th:field="*{timetable.getTasks[__${taskStat.index}__].budgetEntryList[__${entryStat.index}__].totalFunding}"/>
                                        </div>
                                        <div></div>
                                        <div><input type="number" class="entrySelf"
                                                    th:field="*{timetable.getTasks[__${taskStat.index}__].budgetEntryList[__${entryStat.index}__].selfFunding}"/>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <div th:include="/fragments/sections/consents :: consents" class="section hidden" id="consents"></div>
            </form>
        </div>
    </div>

</div>

<div th:include="/fragments/userMenuFragments :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:src="@{/js/projectView.js}"></script>
<script th:src="@{/js/budgetTable.js}"></script>
</body>
</html>