<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dictionary.css}" type="text/css">
    <title>Add Call for Projects</title>
</head>
<body>

<div th:include="fragments/institutional :: header"/>
<div class="boxDiv">

    <h2>New Call for Projects</h2>
    <form th:action="@{/call/add}" method="post" th:object="${call}">
        <label>
            Name<br>
            <textarea cols="100" rows="3" th:field="*{name}"></textarea>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error">Incorrect name</p>
        </label><br>
        <label>
            Description<br>
            <textarea cols="100" rows="10" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="error">Incorrect description</p>
        </label><br>
        <label>
            Funding<br>
            <label>
                <input type="text" th:field="*{funding}"/><br>
            </label>
            <p th:if="${#fields.hasErrors('funding')}" th:errors="*{funding}" class="error">No funding</p>
        </label>
        <label>
            <label th:each="consent : ${consents}">
                <input type="checkbox" th:field="*{consentSet}" th:value="${consent.id}" th:text="${consent.declarationText}">
                <br>
            </label>
        </label>
        <br>
        <button type="submit" class="button">Add</button>
        <a th:href="@{/call/show}">
            <button type="button" class="button">Cancel</button>
        </a>
    </form>


</div>
<div th:include="fragments/institutional :: footer"></div>

</body>
</html>