<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dictionary.css}" type="text/css">
    <title>Calls For Projects</title>
</head>
<body>

<div th:include="fragments/institutional :: header"></div>

<div class="mainDiv">
    <h2>Projects in call</h2>
    <h3>Call name: <span th:text="${call.name}"></span></h3>
    <div th:unless="${projects.size()==0}">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Total value</th>
                <th>Funding</th>
            </tr>
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}"> id</td>
                <td th:text="${project.name}"> name</td>
                <td th:text="${project.totalValue}"> description</td>
                <td th:text="${project.grantValue}"> type</td>
            </tr>
        </table>
        <div class="callSummary">
            <h3>Summary</h3>
            <p>
                Number of projects: <span th:text="${projects.size()}"></span>
                <br>
                Call allocation: <span th:text="${call.funding}"></span>
                <br>
                Requested finding: <span th:text="${requestedFunding}"></span>
            </p>
        </div>
    </div>
    <p th:if="${projects.size()==0}">No projects so far</p>
    <div class="leftFloat">
        <p><a th:href="@{/call/show}">Back to calls</a></p>
        <p><a th:href="@{/call/add}">Add Call for Projects</a></p>
    </div>
</div>

<div th:include="fragments/institutional :: footer"></div>

</body>
</html>